
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
*target/
.history
.cache
.lib/
*/.idea/
*/project/
*/core/src/main/java/
*/core/src/main/scala-2.11/
.idea

### Scala ###
*.class
*.log
